/* *{
    font-family:helvetica,arial,sans-serif;

}
.partners,.travel{
    width: 90%;
    display: grid;
    gap: 10px;
    grid-template-columns:repeat(9,auto);
    margin-left: 5%;

}


.box{
    width:350px ;
    height:350px;
    grid-template-columns:20% 20% 20%;
    margin-left: 50px;

}

img{
    width:350px;
    height: 200px;
    border-radius:3% ;
}
.partnertext>p{
    font-size: 20px;
}
a{
    text-decoration: none;
    color: #f63
}

#next{
    float: right;
    margin-top: 80px;
    width: 30px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 40px;

}
        .slick-arrow{
        color: black;
        font-size:0px;
        margin: 0;
        padding: 0;
      }
   
    .slick-next {
    right:0px;
    
  
    }
    .slick-prev {
    left: -45px;
}
    .slick-next, .slick-prev {
      line-height: 0;
    position: absolute;
    top: 40%;
    display: block;
    width: 50px;
    height: 20px;
    }
    .slick-next:before, .slick-prev:before {
    font-family: slick;
    font-size: 50px;
    line-height: 1;
    opacity: .75;
    color: rgb(177, 171, 171);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} */
/* .travel{
    width: 90%;
    display: grid;
    gap: 10px;
    grid-template-columns:repeat(6,auto);
    /* margin-left: %; */

/* } 