
*{
    font-family:helvetica,arial,sans-serif;

}
#head{
    /* border: 1px solid black; */
    width: 90%;
    display: grid;
    gap: 10px;
    grid-template-columns:60% 20%;
    margin: auto;
   
}


.small_img{
  width: 20px;
  height: 15px;
  padding: 0.5%;
}

.picture{
    border-radius:50% ;
    width: 50px;
    height: 30px;
    float: left;
    padding: 1%;
    border:1px solid skyblue;
}
.picturename{
    float: left;
    padding: 1%;
}
a{
    text-decoration: none;
    color: black;
}
.section2_part1>p{
font-size: 23px;
padding: 3%;
text-align: justify;

}
h2{
padding: 3%;
}


/* form */


#form{
  width:100%;
  height:740px;
  border: 1px solid rgba(145,151,163,.2);
  /* box-shadow: 0 5px 10px 0 #dddddd80; */
  font-family: helvetica,arial,sans-serif;
  margin: 0;
  padding-left:7px;
  /* margin-left: 50px; */
 }
 #verify{
   display: grid;
  width:450px;
  height:800px;
  border: 1px solid rgba(145,151,163,.2);
  box-shadow: 0 5px 10px 0 #dddddd80;
  font-family: helvetica,arial,sans-serif;
  margin: 0;
  padding-left:17px;
  margin-left: 40px;
       
}
 .cost{
   display: grid;
   grid-template-columns: 50% 50%;
 }
 #form>button{
   width:220px;  
   background: #2f9bdb;;
   color: white;
   border-radius: 4px;
   box-sizing: border-box;
   border:1px solid black;
   height: 30px;
   margin-left: 40px;
   padding: 5%;
   text-align: center;
   font-size: 20px;

 }
 #form>p{
     font-size:xx-small;

 }
 #div{
    border: 1px solid black;
    margin: 0 250px;
    width: 65%;
    margin-left:250px;
 }
 #comment{
     width: 700px;
     height: 100px;
     margin-left:70px;
     margin-top: 20px;
 }
 #btn1{

     background-color: #2f9bdb;
     color: white;
     margin-left:700px;
     border: none;
     cursor: pointer;
    
 }
 



input{
  width: 300px;
  height: 30px;
}









   /* *footer*/
   *{
     margin: 0;
     padding: 0;
   }
   .footerFirst{
     display: grid;
     grid-template-columns: repeat(5,auto);
     width: 100%;
     gap: 10px;
   
   }
   .footerFirst>div{
     margin-top: 20px;
     width: 100%;
     margin-left: 1%;
     height: 350px;
     font-family:helvetica,arial,sans-serif;
   }
   .footerSecond{
     width: 98%;
     margin:0 auto;
     text-align: center;
     font-family:helvetica,arial,sans-serif;
   }
   .footerFirst>div>a{
    text-decoration: none;
    color: black;
    font-size:smaller;
   }
   .footerSecond>p{
     margin-top: 10px;
     font-size: smaller;
   }
   #logo{
     width: 180px;
     font-size: smaller;
     margin-left:25px;
   }
   .GooglePlaystore{
   margin-left: 5px;
     margin-top:15px;
   }
   .social-icon{
     margin-top: 5px;
   }
   .social-icon>a>img{
     height: 25px;
   }
   

/* */



/*impp*/

.container{
  width: 100%;
  font-family: circularairpro-bold, Helvetica, Arial, sans-serif;
 
  
   }
   .container>h1{
  margin-left:230px;
  font-family: circularairpro-bold, Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin-bottom:20px;
  margin-top: 20px;

  
   }
   .TrendingTrips{
     display: grid;
     grid-template-columns: repeat(8,auto);
     width: 72%;
     height:400px;
     margin:0 auto;
  
  
   
   }
   .TravelGuides{
     display: grid;
     grid-template-columns: repeat(8,auto);
     width: 70%;
     height:280px;
     margin:0 auto;
    
   }
   .DiscoverNow{
   display: grid;
     grid-template-columns: repeat(8,auto);
     width: 70%;
     height:220px;
     margin:0 auto;
     
  }
   .img>img{
     width: 350px;
     height: 250px;
     border-radius: 10px;
   }
   .button{
     display: flex;
     width: 320px;
   }
   .discription{
     width: 320px;
   }
   .discription>h4{
    
     margin: 0;
   }
   .button>button{
    margin-left:200px;
    height:20px;
    margin-top: 5px;
  }
  .button>h5{
    margin-top: 5px;
  }
   .discription>p{
     font-size: smaller;
     margin-top: 0;
   }
   .img1>img{
     width: 250px;
     height:170px;
     margin-top: 5px;
     border-radius: 10px;
     cursor: pointer;
   }
   .img2>img{
     width: 180px;
     height:250px;
     margin-top: 5px;
     border-radius:5px;

   }
 .slick-arrow{
     color: black;
     font-size:0px;
     margin: 0;
     padding: 0;
   }

 .slick-next {
 right:0px;

 }
 .slick-prev {
 left: -45px;
}


 .slick-next, .slick-prev {
   line-height: 0;
 position: absolute;
 top: 40%;
 display: block;
 width: 50px;
 height: 20px;
 }
 .slick-next:before, .slick-prev:before {
 font-family: slick;
 font-size: 50px;
 line-height: 1;
 opacity: .75;
 color: rgb(177, 171, 171);
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}



/* comment */
 
#btn1{
  width: 75px;
  height: 30px;
  }
  #countComment{
    margin-top: 10px;
    margin-left: 20px;
  }
  #div>p{
    margin-left:20px;
    margin-bottom: 10px;
  }
  #comment{
    width: 700px;
    height: 100px;
    margin-left:70px;
    margin-top: 20px;
}


  